@import "../style/mixins" ;
.loginCover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    .loginContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        height: 500px;
        background-color: #82affc;
        border-radius: 30px;
        margin-top: 80px;
        justify-content: center;
        @include respondTo(largeMobile){
            width: 380px;
        }
        .userCover{
            display: flex;
            align-items: center;
            width: 400px;
            justify-content: space-between;
            @include respondTo(largeMobile){
                width: 360px;
            }
            .userLabel{
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                margin-bottom: 90px;
                color: #293241;
                font-weight: 600;
                @include respondTo(largeMobile){
                    font-size: 20px;
                }
            }
            .userInput{
                margin-bottom: 90px;
                height: 35px;
                font-size: 18px;
                border-radius:8px;
                border:2px solid#ee6c4d;
                text-indent: 10px;
                @include respondTo(largeMobile){
                    font-size: 16px;
                    width: 200px;
                }
            }
            .userInput:focus{
                outline:none;

            }
        }
        .submitButton{
            width: 120px;
            height: 35px;
            border:none;
           cursor: pointer;
           border-radius: 8px;
           border:2px solid#ee6c4d;
           text-transform: uppercase;
        }
    }
}