@import "../style/mixins" ;
.Cover{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    @include respondTo(desktop){
        margin-top: 20px;
        padding: 0 40px ;
    }
    @include respondTo(maxView){
        padding: 0 500px;
    }
    .wholeMemes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        height:300px;
        margin-top: 20px;
        background-color: transparent;
        border-radius: 20px;
        border: 1px dotted #CCCCCC;
        text-decoration: none;
        border: 1px solid black;
        @include respondTo(xsmobile){
            width: 250px;
            height:200px;
        }
        @include respondTo(desktop){
            width: 550px;
            height:400px;
            margin-left:40px;
            margin-right: 40px;
        }
    
        @include respondTo(miniTablet){
            margin-left: 20px;
        }
        @include respondTo(tablet){
            margin-left: 20px;
        }
        img{
            border-radius: 15px 15px 0px 0px;
            position: relative;
            margin-top: 1px;
            width: 348px;
            height:200px;;
            cursor: pointer;
            object-fit: cover;
            @include respondTo(xsmobile){
                width: 248px;
                height:120px;;
            }
            @include respondTo(desktop){
                width: 548px;
                height:250px;
            }
        }
        .memeDescription{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 20px;
            overflow:hidden;
            text-indent: 10px;
            padding-left: 10px;
            padding-right: 10px;
            text-overflow: ellipsis; 
            text-align: left;
            color:	#301934;
            margin-top: 5px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            @include respondTo(xsmobile){
                font-size: 15px;
            }
            @include respondTo(desktop){
                text-align: center;
                font-size: 26px;
                -webkit-line-clamp:2;
                text-overflow: ellipsis; 
                word-wrap:break-word;
                height: 66px;
                font-weight: 600;
       
            }
        }
        .writer{
            position: relative;
            bottom:-5px;
            color:#D40404;
            font-weight: 600;
            right:-120px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            @include respondTo(xsmobile){
                right:-70px;
            }
            @include respondTo(desktop){
               font-size: 20px;
               bottom:-25px;
               right: -180px;
               display: flex;
               align-self: center;
            }
            .writerImage{
                background-color:#D40404 ;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                margin-right: 5px;
                position: relative;
                bottom:-3px;
                @include respondTo(desktop){
                    width: 40px;
                    height: 40px;
                    bottom:2px;
                }
            }
        }
    }
    .wholeMemes:last-child{
        margin-bottom: 30px;
        @include respondTo(miniTablet){
            margin-right:350px;
        }

     
     
    }
}
