.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 3px dotted #CCCCCC;
    .InfoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        text-align: center;
        margin-top: 40px;
        div{
            font-size: 18px;
        }
        margin-bottom: 20px;
        
    }
    .title{
        font-size: 40px;
        color: #6A3131;
        font-weight: 600px;
    }
}