$xsmall: 360px;
$small: 376px;
$mobile:450px;
$miniTablet: 768px;
$tablet:1025px;
$breakPoint:1215px;
$large: 1450px;
$xlarge: 1680px;
$xxlarge: 1920px;
$xl: 2600px;
$xxxlarge: 6000px;
$xxxxlarge: 9000px;

@mixin respondTo($media) {
  @if $media == mobile {
    @media (min-width:$xsmall ) and (max-width: $small) {
      @content;
    }
  } @else if $media == xsmobile {
    @media only screen and (max-width: $xsmall) {
      @content;
    }
  }
  @else if $media == largeMobile {
    @media (min-width:$small ) and (max-width: $mobile) {
      @content;
    }
  }
  @else if $media == breakPoint {
    @media (min-width:$tablet ) and (max-width: $breakPoint) {
      @content;
    }
  }
  @else if $media == breakPointAfter {
    @media (min-width:$breakPoint ) and (max-width: $large) {
      @content;
    }
  }
  @else if $media == doubleScreen {
    @media (min-width:$mobile ) and (max-width: $miniTablet) {
      @content;
    }
  }
  @else if $media == miniTablet {
    @media (min-width:$miniTablet ) and (max-width: $tablet) {
      @content;
    }
  }
  @else if $media == tablet {
    @media (min-width:$tablet ) and (max-width: $large) {
      @content;
    }
  } @else if $media == desktop {
    @media  (min-width:$tablet ) and (max-width: $xxxlarge) {
      @content;
    }
  } @else if $media == xlarge {
    @media (min-width: $xlarge) {
      @content;
    }
  } @else if $media == xxlarge {
    @media (min-width: $xxlarge) {
      @content;
    }
  }
   @else if $media == maxView {
    @media  (min-width:$xl ) and (max-width: $xxxxlarge)  {
      @content;
    }
  } @else if $media == xxxlarge {
    @media (min-width: $xxxlarge) {
      @content;
    }
  }
  
}